<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>글 수정</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="/css/editform.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form id="postForm" th:action="@{/myvelog/edit/{id}(id=${post.postId})}" th:object="${post}" method="post">
                <input type="hidden" id="postId" th:value="${post.postId}">
                <input type="text" class="title-input" th:field="*{title}" placeholder="제목을 입력하세요" required>
                <div id="editor" class="editor-container" th:text="${post.strippedContent}"></div>
                <textarea id="content" name="content" style="display:none;"></textarea> <!-- 변환된 HTML을 위한 숨겨진 필드 -->

                <div class="footer-buttons">
                    <button type="button" class="exit-button" onclick="window.location.href='/myvelog'">나가기</button>
                    <button type="button" class="save-button" name="action" value="draft" onclick="submitForm('draft')">임시저장</button>
                    <button type="button" class="save-button" name="action" value="publish" onclick="submitForm('publish')">수정하기</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div id="preview" class="preview-container">
                <h2 id="preview-title"></h2>
                <div id="preview-content"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script src="/js/editform.js"></script>
</body>
</html>
