<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
<div class="login-container">
    <div class="welcome-section">
        <img src="/images/welcome.png" alt="환영합니다!">
        <h2>환영합니다!</h2>
    </div>
    <div class="login-section">
        <h3>로그인</h3>
        <form th:action="@{/login}" method="post">
            <input type="text" class="form-control" name="username" placeholder="아이디를 입력하세요." required>
            <input type="password" class="form-control" name="password" placeholder="비밀번호를 입력하세요." required>
            <button type="submit" class="btn btn-block">로그인</button>
        </form>
        <h5 class="mt-3">소셜 계정으로 로그인</h5>
        <div class="social-login">
            <button><img src="/images/github-login.jpg.png" alt="GitHub 로그인"></button>
            <button><img src="/images/google-login.jpg.png" alt="Google 로그인"></button>
            <button><img src="/images/facebook-login.jpg.png" alt="Facebook 로그인"></button>
        </div>
        <div class="signup-link">
            아직 회원이 아니신가요? <a th:href="@{/myvelog/register}">회원가입</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
